
body {
    background: #6b92b9;
}

#loading {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #8ac3b4;
    z-index: 1000;
}

#loading-t {
    padding: 480px 0 0 0;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    height: 100%;
}

#canvas-snow {;
    width: 100%;
    height: 100%;
    position: relative
    margin: 0;
    padding: 0;
    background: url("../img/bg.gif");
    background-size: 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src=”/img/bg.jpg”, sizingMethod=’scale’);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

canvas {
    display: block;
}

#merrychristmas {
    text-align: left;
    display: none;
}

#sincerely {
    padding-right: 75px;
    color: #550000;
    text-align: right;
    font-size: 2em;
    display: none;
}

#bycoyouth {
    padding-right: 75px;
    font-weight: bold;
    color: #fff;
    text-align: right;
    -webkit-text-stroke: 1px black;
    letter-spacing: 0.04em;
    font-size: 3em;
    font-family:Arial,Verdana,Sans-serif;
    text-decoration: none;
    display: none;
}

#bycoyouth>a {
    text-decoration: none;
    color: #fff;
}

.bigbigbig {
    -webkit-animation: title-in 1s ease-out 0 1 forwards;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    transition: 300ms;
}

.bigbigbig:hover {
    -webkit-transform: translateX(-125px) scale(1.15) rotate(-2deg);
    -moz-transform: translateX(-125px) scale(1.15) rotate(-2deg);
    transform: translateX(-125px) scale(1.15) rotate(-2deg);
    text-shadow: 0px 0px 1px #868, 2px 2px 2px #979, 3px 3px 3px #a8a, 4px 4px 4px #b9b, 5px 5px 5px #cac, 6px 6px 6px #dbd, 7px 7px 7px #ece, 8px 8px 8px #fef }
}

#coyouth {
    color: #ff00ff;
}
